html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2A0A45;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #9B7EBD;
    border-radius: 8px;
    border: 2px solid #3B1E54;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #35155D;
    border-color: #3B1E54;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #563D76;
}
